<table>
  <tr>
    <td colspan=2>
      <strong>{{project.name}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href={{pypi.project_url}}><img src="https://img.shields.io/pypi/l/{{project.name}}.svg"></a>
      <a href={{pypi.project_url}}><img src="https://badge.fury.io/py/{{project.name}}.svg"></a>
      {%for action in github.actions%}<a href="{{action.url}}"><img src="{{action.url}}/badge.svg"></a>{%endfor%}
    </td>
  </tr>
  <tr>
    <td width=15%><img src={{github.raw_url}}/master/img/icon.png style="width:150px"></td>
    <td>
    Experimental tools for working with technical documentation, featuring terraform-style plan/apply workflows.
    </td>
  </tr>
</table>

{{markdown_toc(__template__, level=2)}}

---------------------------------------------------------------------

## Overview

---------------------------------------------------------------------

## Features

---------------------------------------------------------------------

## Installation

See [pypi](https://pypi.org/project/pynchon/) for available releases.

```bash
pip install pynchon
```

---------------------------------------------------------------------

## Usage

### CLI Usage

### Library Usage

---------------------------------------------------------------------
