{% include "pynchon/github/header.md.j2" %}

---------------------------------------------------------------------------------

{% include "local/overview.md" %}

{% include "local/overview.md" %}

{% include "local/quick-start.md" %}

---------------------------------------------------------------------------------

## Pynchon as a Library

---------------------------------------------------------------------------------

## Pynchon as a Tool

The modules inside the pynchon library publish several stand-alone tools.

---------------------------------------------------------------------------------

## Pynchon as a CLI

---------------------------------------------------------------------------------

## Pynchon as a Framework

---------------------------------------------------------------------------------

## Tutorials

```
pynchon gen version-metadata
pynchon gen api toc
pynchon gen cli toc
pynchon gen api detail
```


---------------------------------------------------------------------------------

## Implementation Notes

{% include "local/implementation-notes.md" %}

---------------------------------------------------------------------------------

## Packaging & Releases

---------------------------------------------------------------------------------

## Dependencies

---------------------------------------------------------------------------------

## Related Work

---------------------------------------------------------------------------------

## Workflows

### Workflow: Bug Reports or Feature Requests

### Workflow: Finding a Library Release

### Workflow: Installation for Library Developers

### Workflow: Installation for Users

### Workflow: Build, install, testing, etc

### Workflow: Running Tests

---------------------------------------------------------------------------------

## Known Issues

* Use the [griffe-agent / plugin framework](#FIXME)?

---------------------------------------------------------------------------------
 
