{% include "pynchon/github/header.md.j2" %}

{{markdown_toc(__template__,level=2)}}

---------------------------------------------------------------------------------

{% include "local/overview.md" %}

{% include "local/quick-start.md" %}

---------------------------------------------------------------------------------

## Pynchon as a Suite of Utilities

The modules inside the pynchon library publish several stand-alone tools.

### util.os
### util.files
### util.loadf
### util.jinja
### util.splitvt
### util.ansible
### util.json
### util.pydash
### util.shfmt
### util.grip

---------------------------------------------------------------------------------

## Pynchon as a Framework

### Plugins
#### Plugin Priority

#### Plugin Config
##### User Config
##### Config Defaults
##### Lazy Config
##### Dynamic Config
##### Syntactic Sugar

#### Plugin CLIs
##### CLI Aliases
##### Hidden Commands

#### Plugin Types
##### Core-Plugins
##### Provider-Plugins
##### Planner-Plugins
##### Manager-Plugins
##### Tool-Plugins
##### Nested-Plugins
##### Namespaces
### Rendering Engine
### Projects & Subprojects
### Data vs Display
### Hooks & Events

---------------------------------------------------------------------------------

## Pynchon as a Library

### Parsers

### Planners

### Solvers

### Tagging & Typing

### Orchestration

System Command Invocation

### CLI Framework

### Application Framework

### OOP Framework

### Event Framework

---------------------------------------------------------------------------------

## Example Usage

```
pynchon gen version-metadata
pynchon gen api toc
pynchon gen cli toc
pynchon gen api detail
```

---------------------------------------------------------------------------------

## Implementation Notes

{% include "local/implementation-notes.md" %}

---------------------------------------------------------------------------------

## Packaging & Releases

---------------------------------------------------------------------------------

## Dependencies

---------------------------------------------------------------------------------

## Related Work

---------------------------------------------------------------------------------

## Workflows

### Workflow: Bug Reports or Feature Requests

### Workflow: Finding a Library Release

### Workflow: Installation for Library Developers

### Workflow: Installation for Users

### Workflow: Build, install, testing, etc

### Workflow: Running Tests

---------------------------------------------------------------------------------

## Known Issues

* Use the [griffe-agent / plugin framework](#FIXME)?

---------------------------------------------------------------------------------
