
## Entrypoints for `{{project.name}}`

-------------------------------------------------------------------------------

These are scripts/commands that ship with `{{project.pkg_name}}`:

{% for item in entrypoints %}
{%- set dotpath = item.module + '.' + item.entrypoint %}
* [`{{item.bin_name}}`](/docs/cli/{{item.bin_name}}.md) @ [`{{dotpath}}`](/docs/api#{{item.module.replace('.', '')}})
{%-endfor%}

Modules that use `__main__`:

{% for fname,metadata in source.__main__.items() %}
* [`python -m{{metadata.dotpath}}`](/docs/cli/{{metadata.dotpath}}.md) @ [`{{metadata.path}}/__main__.py`](/{{metadata.path}}) @
{%-endfor%}
