{#Builds MD file describing a module's (__main__.py) entrypoint #}
{% for subcommand in entrypoints %}
## {{subcommand.dotpath}} CLI

*[module source]({{subcommand.src_url}})*

```
{{subcommand.help}}
```
{%-endfor%}

