{# Builds a markdown file describing a module's (__main__.py) entrypoint #}

{% for subcommand in entrypoints %}
## [**ℳ**] {{subcommand.dotpath}}

[**Module**] `{{subcommand.dotpath}}` publishes a command line interface (*[source]({{subcommand.src_url}})*).  

Example usage:

```bash
{{subcommand.help}}
```
{%-endfor%}

