{# Builds a markdown file describing a module's (__main__.py) entrypoint #}
[id1]: ## "Module Entrypoints"

{% for subcommand in entrypoints %}
## [**ℳ**][id1] {{subcommand.dotpath}}

[**[Module]**](README.md#module-entrypoints) `{{subcommand.dotpath}}` publishes a command line interface (*[source]({{subcommand.src_url|default('#undefined')}})*).

Example usage:

```bash
{{subcommand.help_output}}
```
{%-endfor%}
