

## **[ℙ]** `{{project.name}}`

**Package** entrypoint overview for `{{python.package.name}}`

-------------------------------------------------------------------------------


### Main Entrypoints 

{% if main_entrypoints %}
{% for metadata in main_entrypoints %}
* [`python -m{{metadata.dotpath}}`](/docs/cli/{{metadata.dotpath}}.md)  *[source]({{metadata.src_url}})*
{%-endfor%}
{% else %}
No module entrypoints (**__main__.py**) were found
{%endif%}

### Package Entrypoints 

{% if package_entrypoints %}
{% for metadata in package_entrypoints %}
* [`python -m{{metadata.dotpath}}`](/docs/cli/{{metadata.dotpath}}.md) @ [`{{metadata.path}}`](/{{metadata.path}})
{%-endfor%}
{%else%}
No package entrypoints found
{%endif%}
